# Plan

## Current Sprint

{{#each current_tasks}}
- [ ] {{this}}
{{/each}}

## Backlog

{{#each backlog}}
- [ ] {{this}}
{{/each}}

## Completed

{{#each completed}}
- [x] {{this}}
{{/each}}

## Blocked

{{#if blocked}}
{{#each blocked}}
- {{this.item}}: {{this.reason}}
{{/each}}
{{else}}
None currently.
{{/if}}

## Notes

{{notes}}
